backports-abc==0.5
blinker==1.4
boto3==1.17.112
botocore==1.20.112
Brotli==1.0.9
cachetools==3.1.1
certifi==2021.5.30
cffi==1.14.6
chardet==4.0.0
click==7.1.2
configparser==4.0.2
contextlib2==0.6.0.post1
crcmod==1.7
crypto==1.4.1
cryptography==3.3.2
docutils==0.17.1
elasticsearch==7.13.3
enum34==1.1.10
Flask==1.1.4
Flask-Compress==1.10.1
futures==3.3.0
google-api-core==1.31.0
google-auth==1.32.1
google-cloud-bigquery==1.28.0
google-cloud-core==1.7.1
google-resumable-media==1.3.1
googleapis-common-protos==1.52.0
hybrid-crypto==0.1.0.dev0
idna==2.10
importlib-metadata==2.1.1
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.11.3
jmespath==0.10.0
lockfile==0.12.2
MarkupSafe==1.1.1
mysql-connector-python==8.0.23
Naked==0.1.31
ordereddict==1.1
packaging==20.9
pathlib2==2.3.6
protobuf==3.17.3
pudb==2019.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pycrypto==2.6.1
Pygments==2.5.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
pystatsd==0.1.10
python-daemon==2.3.0
python-dateutil==2.8.2
python-keyczar==0.71rc0
pytz==2021.1
PyYAML==5.4.1
raven==6.10.0
redis==3.5.3
requests==2.26.0
rq==1.3.0
rsa==4.5
s3transfer==0.4.2
scandir==1.10.0
sentry-sdk[flask]==0.10.2
shellescape==3.8.1
simplejson==3.17.3
singledispatch==3.6.2
six==1.16.0
SQLAlchemy==1.4.20
sqlparse==0.3.1
tornado==5.1.1
urllib3==1.26.6
urwid==2.1.2
virtualenv==16.6.1
Werkzeug==1.0.1
zipp==1.2.0




mkdocs==1.0.4
mkdocs-material==4.6.0
mkdocs-markdownextradata-plugin==0.1.1
markdown>=3.1,<3.2
